<div class="head">
	<div class="head-top">
		<a href="#menu" class="menu-open open_modal"></a>
		<div class="heas__logo">
			<img src="img/logo-main.png" alt="">
		</div>
		<div class="head-service">
			<a href="#map" class="head-service__one j-scroll-to"><i class="head-service--write"></i>Записаться на прием</a><br>
			<a href="#order" class="head-service__one j-scroll-to"><i class="head-service--map"></i>Мы на карте</a>
		</div>
		<div class="head-contact">
			<div class="head-contact__phone">+7 90 90 22 65 65</div>
			<div class="head-contact__text">г. Екатеринбург, ул. Островского д. 7</div>
			<div class="head-contact__text">Пн-пт: с 09:00 до 21:00</div>
		</div>
	</div>

	<div class="head-baner">
		<a href="#" class="head-baner__one">
			<img src="img/baner-1.png" alt="">
		</a>
		<a href="#" class="head-baner__one">
			<img src="img/baner-2.png" alt="">
		</a>
		<a href="#" class="head-baner__one">
			<img src="img/baner-3.png" alt="">
		</a>
	</div>

	<div class="advant">
		<div class="advant-title">преимущества</div>
		<div class="advant-list">
			<div class='advant-one'>
				<div class="advant-one__icon advant-one__icon--1"></div>
				<div class="advant-one__text">Адекватные цены</div>
			</div>
			<div class='advant-one'>
				<div class="advant-one__icon advant-one__icon--2"></div>
				<div class="advant-one__text">Профессионалы своего дела</div>
			</div>
			<div class='advant-one'>
				<div class="advant-one__icon advant-one__icon--3"></div>
				<div class="advant-one__text">Современное оборудование</div>
			</div>
			<div class='advant-one'>
				<div class="advant-one__icon advant-one__icon--4"></div>
				<div class="advant-one__text">Беспроцентная рассрочка</div>
			</div>
			<div class='advant-one'>
				<div class="advant-one__icon advant-one__icon--5"></div>
				<div class="advant-one__text">Стандарты качества</div>
			</div>
			<div class='advant-one'>
				<div class="advant-one__icon advant-one__icon--6"></div>
				<div class="advant-one__text">Лечение по страховке</div>
			</div>
		</div>
	</div>

	<video loop="loop" autoplay="autoplay" preload="auto" width="100%" height="100%" data-proto="video">
		<source src="tmp/sea1920.mp4" type="video/mp4" media="all and (max-width:1920px)">
		<source src="tmp/sea1920.webm" type="video/webm" media="all and (max-width:1920px)">
		<source src="tmp/sea1330.mp4" type="video/mp4" media="all and (max-width:1330px)">
		<source src="tmp/sea1330.webm" type="video/webm" media="all and (max-width:1330px)">
		<source src="tmp/sea1024.mp4" type="video/mp4" media="all and (max-width:1024px)">
		<source src="tmp/sea1024.webm" type="video/webm" media="all and (max-width:1024px)">
		<source src="tmp/sea768.mp4" type="video/mp4" media="all and (min-width:768px)">
		<source src="tmp/sea768.webm" type="video/webm" media="all and (min-width:768px)">
	</video>
</div>