<div id="overlay">
	<div class="modal" id="menu">
		<ul class="main-menu">
			<li><a href="#">О НАС</a>
				<ul>
					<li><a href="#">специалисты</a>
					<li><a href="#">сертификаты и награды</a>
					<li><a href="#">фотогалерея</a>
					<li><a href="#">наши работы</a>
					<li><a href="#">вакансии</a>
				</ul>
			</li>
			<li><a href="#">УСЛУГИ</a>
				<ul>
					<li><a href="#">терапия</a></li>
					<li><a href="#">хирургия</a></li>
					<li><a href="#">ортопедия</a></li>
					<li><a href="#">ортодонтия</a></li>
				</ul>
			</li>
			<li><a href="#">ЦЕНЫ</a></li>
			<li><a href="#">ВОПРОСЫ СТОМАТОЛОГУ</a></li>
			<li><a href="#">ОТЗЫВЫ</a></li>
			<li><a href="#">БЛОГ</a></li>
			<li><a href="#">КОНТАКТЫ</a></li>
		</ul>
	</div>
	<div class="modal__close"></div>
</div>