<div id="overlay">
	<div class="modal" id="menu">
		<ul class="main-menu">
			<li><a href="/about/">О НАС</a>
				<ul>
					<li><a href="/about/doctors.html">специалисты</a>
					<li><a href="/about/honors.html">сертификаты и награды</a>
					<li><a href="/about/fotogallery.html">фотогалерея</a>
					<li><a href="/about/portfolio/">наши работы</a>
					<li><a href="/about/jobs.html">вакансии</a>
				</ul>
			</li>
			<li><a href="/services/">УСЛУГИ</a>
				<ul>
					<li><a href="/services/therapy/">терапия</a></li>
					<li><a href="/services/surgery/">хирургия</a></li>
					<li><a href="/services/orthopedics/">ортопедия</a></li>
					<li><a href="/services/orthodontics/">ортодонтия</a></li>
				</ul>
			</li>
			<li><a href="/prices.html">ЦЕНЫ</a></li>
			<li><a href="/often-matters.html">ВОПРОСЫ СТОМАТОЛОГУ</a></li>
			<li><a href="/review/">ОТЗЫВЫ</a></li>
			<li><a href="/articles/">БЛОГ</a></li>
			<li><a href="/about/contacts.html">КОНТАКТЫ</a></li>
		</ul>
	</div>
	<div class="modal__close"></div>
</div>