<div class="about">
	<div class="about-title">клиника</div>
	<div class="about-wrap wrap">
		<div class="about-slider">
			<div class="swiper-wrapper">
				<div class="about-slider-one swiper-slide" style="background-image: url(../tmp/klinika.jpg);"></div>
				<div class="about-slider-one swiper-slide" style="background-image: url(../tmp/klinika.jpg);"></div>
				<div class="about-slider-one swiper-slide" style="background-image: url(../tmp/klinika.jpg);"></div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
	    <div class="swiper-button-next"></div>
	    <div class="swiper-button-prev"></div>
	</div>

	<div class="about-video">
		<a href="https://www.youtube.com/watch?v=cGPbEuAg3GU" class="about-video__preview">
			<img src="//img.youtube.com/vi/cGPbEuAg3GU/mqdefault.jpg" width="460" height="260">
		</a>
		<div class="about-video-right">
			<div class="about-video__title">Имплантация зубов" </div>
			<div class="about-video__descr">"Тема выпуска - имплантация зубов. Рассказывает и отвечает на вопросы директор стоматологической клиники «ПрезиДЕНТ» Олег Леонович Гнусин"</div>
		</div>
		<div class="about-video__bottom">Смотрите другие видео <i></i> <a href="https://www.youtube.com/channel/UCQDnQpg9pZ0MCep3mLrS4dA/videos" target="_blank">на Нашем канале на youtube</a> </div>
	</div>
</div>