<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script>
ymaps.ready(function () {
    var myMap = new ymaps.Map('map', {
            center: [56.80109029183998,60.604820452960475],
            zoom: 16,
            controls: []
        }, {
        }),
     

        myPlacemark = new ymaps.Placemark([56.80058405671288,60.5975463021121], {
            iconCaption: 'г.Екатеринбург, ул.Николая Островского д.7',
            balloonContentHeader: "г.Екатеринбург, ул.Николая Островского д.7",
            balloonContentBody: "<br><b>Телефон</b>	 +7 (909) 022 65 65<br>Время работы<br><b>ПН-ПТ:</b> с 09.00 до 21.00 без перерыва<br><b>СБ-ВС:</b> выходные дни<br><b>Прием ведется по предварительной записи!</b><br><br>Добраться можно общественным транспортом<br>Автобусы №46 и №76. Остановка \"Островского\""
        }, {
            preset: 'islands#icon',
            iconCaptionMaxWidth: '240'
        });

    myMap.behaviors.disable('scrollZoom');
    myMap.geoObjects.add(myPlacemark);
});
</script>

<div class="map" id="map">
</div>
	<div class="map-inn">
		<div class="wrap">
			<div class="order-form">
				<form action="" id="order">
					<div class="order-form__title">Запись на прием</div>
					<div class="order-form__subtitle">Заполните, пожалуйста все поля</div>
					<div class="form-line">
						<label for="">ФИО</label>
						<input type="text" name="name">
					</div>
					<div class="form-line">
						<label for="">Телефон</label>
						<input type="text" name="phone">
					</div>
					<div class="form-line">
						<label for="">Услуга</label>
						<div class="select">
				           	<input type="text" name="service">
				           	<div class="select-list" style="display: none;">
				               <div class="select-list__one">Лечение кариеса</div>
				               <div class="select-list__one">Пародонтология</div>
				               <div class="select-list__one">Имплантация зубов</div>
				               <div class="select-list__one">Гигиена полости рта</div>
				               <div class="select-list__one">Отбеливание зубов</div>
				               <div class="select-list__one">Удаление зубов</div>
				               <div class="select-list__one">Удаление зубов</div>
				               <div class="select-list__one">Ортодонтия</div>
				               <div class="select-list__one">Консультация</div>
				           	</div>
				        </div>
					</div>
					<div class="form-line">
						<label for="">Время приема</label>
						<div class="select" >
				           	<input type="text" name="time">
				           	<div class="select-list" style="display: none;">
				               <div class="select-list__one">Утро</div>
				               <div class="select-list__one">День</div>
				               <div class="select-list__one">Вечер</div>
				           	</div>
				        </div>
					</div>

					<div class="form-line">
						<button type="submit">Отправить</button>
					</div>
				</form>
				<div class="after-submit">
					<h2>Ваше сообщение отправлено</h2>
					<p>Мы свяжемся с вами<br>в ближайшее время</p>
				</div>
			</div>
		</div>
	</div>