<div class="partner">
	<div class="wrap">
		<div class="partner__title">Партнеры</div>
		<div class="partner-list">
			<div class="swiper-wrapper">
				<div class="partner-one swiper-slide" style="background-image: url(tmp/partner-1.png);"></div>
				<div class="partner-one swiper-slide" style="background-image: url(tmp/partner-2.png);"></div>
				<div class="partner-one swiper-slide" style="background-image: url(tmp/partner-3.png);"></div>
				<div class="partner-one swiper-slide" style="background-image: url(tmp/partner-4.png);"></div>
			</div>
		</div>
	</div>
</div>