<div class="personal">
	<div class="personal-inn">
		<div class="personal-title">Врачи</div>
		<div class="personal-slider">
				<div data-id="1" class="personal-slider-one">
					<img src="tmp/doctor1.png" alt="">
				</div>
				<div data-id="3" class="personal-slider-one">
					<img src="tmp/doctor3.png" alt="">
				</div>
				<div data-id="2" class="personal-slider-one">
					<img src="tmp/doctor2.png" alt="">
				</div>
		</div>
		<div class="personal-descr">
			<div class="swiper-wrapper">
				<div class="personal-one swiper-slide">
					<div class="personal-text">
						<div class="personal-one__family">Гнусин</div>
						<div class="personal-one__name">Олег Леонович</div>
						<div class="personal-one__position">Врач стоматолог универсал. Хирург имплантолог </div>
						<p>Директор стоматологической клиники «ПрезиДЕНТ» г.Екатеринбург.<br>Директор по медицинской части фирмы «Медико».  <br>
						Стажировался в Москве (в институте повышения квалификации), Германия<br>(г. Кёльн на кафедре пантологии и пародонтологии). <br>Обучался по системе повышения квалификации компании Trinon на Кубе, в Германии, в Непале по 200 часов операционного времени. </p>
						<p><span>Стаж работы:</span> 20 лет.</p>
					</div>
					<div class="personal-sert">
						<a href="http://www.dialdent.ru/nstomatol/pages/s319/file.files/image001.jpg" class="personal-sert-one">
							<img src="tmp/sert.jpg" alt="">
						</a>
						<a href="http://www.dialdent.ru/nstomatol/pages/s319/file.files/image001.jpg" class="personal-sert-one">
							<img src="tmp/sert.jpg" alt="">
						</a>
						<a href="http://www.dialdent.ru/nstomatol/pages/s319/file.files/image001.jpg" class="personal-sert-one">
							<img src="tmp/sert.jpg" alt="">
						</a>
						<a href="http://www.dialdent.ru/nstomatol/pages/s319/file.files/image001.jpg" class="personal-sert-one">
							<img src="tmp/sert.jpg" alt="">
						</a>
					</div>
				</div>
				<div class="personal-one swiper-slide">
					<div class="personal-text">
						<div class="personal-one__family">Гнусина</div>
						<div class="personal-one__name">Елена Григорьевна</div>
						<div class="personal-one__position">Врач стоматолог терапевт, детский стоматолог </div>
						<p>Опыт работы: <br>
						Стоматолог в МСЧ 71 город Озерск,<br> 
						Детский врач стоматолог в МОУ Лицей имени СП Дягилева. <br>
						С 2006 г.работает в стоматологии ООО ПрезиДЕНТ. <br>
						Проходит постоянные учебы и стажировки по повышению квалификации в таких странах как Германия, Греция. Посещает ежеквартально семинары по России. <br>
						Делится своим опытом с молодыми специалистами. <br>
						Совершенствует свой профессионализм в работе на микроскопе.<br>Внедряет в своей практике самые современные материалы и оборудование.</p>
						<p><span>Стаж работы:</span> 20 лет.</p>
					</div>
					<div class="personal-sert">
						<a href="http://www.dialdent.ru/nstomatol/pages/s319/file.files/image001.jpg" class="personal-sert-one">
							<img src="tmp/sert.jpg" alt="">
						</a>
						<a href="http://www.dialdent.ru/nstomatol/pages/s319/file.files/image001.jpg" class="personal-sert-one">
							<img src="tmp/sert.jpg" alt="">
						</a>
						<a href="http://www.dialdent.ru/nstomatol/pages/s319/file.files/image001.jpg" class="personal-sert-one">
							<img src="tmp/sert.jpg" alt="">
						</a>
						<a href="http://www.dialdent.ru/nstomatol/pages/s319/file.files/image001.jpg" class="personal-sert-one">
							<img src="tmp/sert.jpg" alt="">
						</a>
					</div>
				</div>
				<div class="personal-one swiper-slide">
					<div class="personal-text">
						<div class="personal-one__family">Гнусин</div>
						<div class="personal-one__name">Илья Олегович</div>
						<div class="personal-one__position">Врач стоматолог-ортопед.</div>
						<p>Закончил в 2013 Уральскую Государственную Медицинскую Академию по специальности врач-стоматолог общей практики. Проходил интернатуру в 2014 на базе МАУ СП N°12. 
						С 2010 года работает в стоматологии ООО ПрезиДЕНТ. Регулярно посещает семинары и проходит учебы… в России и за рубежом, имеет сертификаты соответствия. </p>
					</div>
					<div class="personal-sert">
						<a href="http://www.dialdent.ru/nstomatol/pages/s319/file.files/image001.jpg" class="personal-sert-one">
							<img src="tmp/sert.jpg" alt="">
						</a>
						<a href="http://www.dialdent.ru/nstomatol/pages/s319/file.files/image001.jpg" class="personal-sert-one">
							<img src="tmp/sert.jpg" alt="">
						</a>
						<a href="http://www.dialdent.ru/nstomatol/pages/s319/file.files/image001.jpg" class="personal-sert-one">
							<img src="tmp/sert.jpg" alt="">
						</a>
						<a href="http://www.dialdent.ru/nstomatol/pages/s319/file.files/image001.jpg" class="personal-sert-one">
							<img src="tmp/sert.jpg" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>