<div class="service">
	<div class="service-inn wrap">
		<div class="service-col">
			<a href="#" class="service-one" style="background-image: url(tmp/usl-1.jpg)">
				<div class="service-one-text">
					<div class="service-one__title">Вылечить зуб</div>
					<div class="service-one__text">
						- Кариес <br> 
						- Пульпит <br>
						- Периодонтит
					</div>
					<div class="service-one__price">от <span>3 500</span> руб.</div>
				</div>
			</a>
			<a href="#" class="service-one" style="background-image: url(tmp/usl-2.jpg)">
				<div class="service-one-text">
					<div class="service-one__title">Вставить зуб</div>
					<div class="service-one__text">
						- Кариес <br> 
						- Пульпит <br>
						- Периодонтит
					</div>
					<div class="service-one__price">от <span>3 500</span> руб.</div>
				</div>
			</a>
		</div>

		<div class="service-col">
			<a href="#" class="service-one service-one--center" style="background-image: url(tmp/usl-3.jpg)">
				<div class="service-one-text">
					<div class="service-one__title">Сделать зубы ровными</div>
					<div class="service-one__text">
						- Кариес <br> 
						- Пульпит <br>
						- Периодонтит
					</div>
					<div class="service-one__price">от <span>3 500</span> руб.</div>
				</div>
			</a>
		</div>

		<div class="service-col">
			<a href="#" class="service-one" style="background-image: url(tmp/usl-4.jpg)">
				<div class="service-one-text">
					<div class="service-one__title">Удалить зуб</div>
					<div class="service-one__text">
						- Кариес <br> 
						- Пульпит <br>
						- Периодонтит
					</div>
					<div class="service-one__price">от <span>3 500</span> руб.</div>
				</div>
			</a>
			<a href="#" class="service-one" style="background-image: url(tmp/usl-5.jpg)">
				<div class="service-one-text">
					<div class="service-one__title">Сделать зубы светлее</div>
					<div class="service-one__text">
						- Кариес <br> 
						- Пульпит <br>
						- Периодонтит
					</div>
					<div class="service-one__price">от <span>3 500</span> руб.</div>
				</div>
			</a>
		</div>
	</div>
</div>